{% extends 'main/base.html' %}

{%block title%} Workout Journal {%endblock%}

{% block content %}

<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <div class="input-group mb-3"> 
            <h1 class="w3-text-teal"> {{w.name}} </h1>
            <div>
                {% for item in w.workoutentry_set.all %}
                    <p> Date: {{item.exerciseDate}} </p>
                    <p> Exercise: {{item.exerciseName}} </p>
                    <p> Sets: {{item.exerciseSets}} </p>
                    <p> Reps: {{item.exerciseReps}} </p>
                    <p> Comment: {{item.exerciseComment}} </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}